.div1,.div4{
    background-color: antiquewhite;
    margin: 25px 0px 0px 100px;
    display: inline-block;
    height: 420px;
    width: 400px;
}
.div2,.div3,.div5,.div6{
    background-color: antiquewhite;
    margin: 25px 0px 0px 15px;
    display: inline-block;
    height: 420px;
    width: 400px;
}

img{
    padding: 10px 10px;
    display: inline-block;
}
h3{
    padding: 10px 10px;
}
